/* Sidebar header */
.wy-side-nav-search, .wy-nav-top {
    background: #0f468d;
  }

/* Sidebar */
.wy-nav-side {
    background: #302c2f;
}

/* Caption text */
span.caption-text {
  color: #194096;
}
