/* Sidebar header */
.wy-side-nav-search, .wy-nav-top {
    background: #002855;
  }

/* Sidebar */
.wy-nav-side {
    background: #207CB1;
}

/* Caption text */
span.caption-text {
  color: #F2A900;
}
