div.wy-side-nav-search .version {
  color: #5a5a5a;
  font-weight: bold;
}

.wy-side-nav-search, .wy-nav-top {
    background: #ffffff;
  }

.wy-nav-side {
    background: #002855;
}

span.caption-text {
  color: #F2A900;
}
